ul{
    list-style-type: none;
    line-height: 50px;
    width: 90%;
}

a {
    border: 5px solid grey;
}

a[href^="http"] {
    border-color: green;
}

a[title] {
    border-color: pink;
}

a[href*="contact"] {
    border-color: orange;
}

